@charset "utf-8";


div.ppo{
    text-align: right;
    margin: 50px 0px 100px 0px;
    font-size: 15px;
}
div.eh{

    margin-left: 400px;
    margin-top: 200px;
    margin-bottom: 50px;

}

div.ro{

    margin-left: 300px;

}

input[type=text]{

    font-size: 20px;
}
body{
    font-family: Arial, "Times New Roman", Serif;
}
p{

    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin: 10px 20px 30px 40px;
    border-top-color: plum;
    border-right-color: palevioletred;
    border-bottom-color: navy;
    border-left-color: maroon;
    border: dashed 3px magenta;
    border-radius: 0px 20px 40px 70px;
    height: 300px;
}

a{
    text-decoration: none;
}

div{
    width: 400px;
    height: 700px;
}

/*body{

    color: rgb(15, 141, 109);
    background-color: rgb(231, 230, 206);

}

input{
    background-color: rgb(228, 194, 194);
}*/
/*p{
    color: red;

}*/

/*div{
    color: teal;
    margin-left: 10px;
    margin-top: 50px;
}
div.hello{
    color: sienna;
}
#hi{
    color: skyblue;
    padding-left: 20px;
}
div>p{
    background-color: sandybrown;
}
div li{
    background-color: tan;
}
input[type=text]{
    border-color: red;
    background-color: seashell;
}

a:visited{
    color: indianred;
}
a:hover{
    color: green;
}
a:link{
    color: sandybrown;
}

a:visited:hover{
    color: mediumaquamarine;
}*/