@charset "utf-8";


@media(min-width:800px){

    p{
        font-size: 150px;
        font-weight: 700;
    }

}

@media(min-width:500px) and (max-width:799px) {

    p{
        font-size: 50px;
        font-weight: 700;
    }
}

@media (max-width:499px) {

    p{
        font-size: 50px;
        font-weight: 700;
    }
}

.text-bold{
    font-weight: 700;
}